@import 'bootstrap/scss/bootstrap-grid.scss'
@import '/src/styles/_variables.sass'

.feed
	&_pagination
		list-style: none
		display: flex
		justify-content: center
		align-items: center
		margin-top: 2px
		cursor: pointer
		font-weight: 800
		.pageItem
			height: 40px
			width: 40px
			margin-left: 4px
			margin-right: 4px
			padding: 2px 12px
			display: flex
			justify-content: center
			align-items: center
			border-radius: 50%
			list-style: none
			a
				color: $forest-green
			&:hover,
			&:focus,
			&:active
				background-color: $light-green
				a
					color: $white !important
			&.active
				background-color: $forest-green
				a
					color: $white !important
	&_articleCard
		border: 2px solid $light-green
		height: 100%
		border-radius: 8px
		&_thumbnail
			height: 200px
			img
				object-fit: cover
				height: 100%
				width: 100%
		&_body
			padding: 10px 26px 26px
			p
				margin-bottom: 20px
	.featuredImage
		border-radius: 20px
		overflow: hidden
		position: relative
		@include media-breakpoint-up(sm)
			height: 500px
		&:after
			content: ''
			position: absolute
			display: block
			width: 100%
			height: 100%
			top: 0
			left: 0
			z-index: 777
			background: linear-gradient(20deg, rgba(0, 0, 0, 0.8) 0%,  rgba(0, 0, 0, 0.6) 30%, rgba(255, 255, 255, 0) 50%)
			pointer-events: none // text can still be selected
			z-index: 555
		img
			width: 100%
			height: 100%
			object-fit: cover
		h3
			position: absolute
			bottom: 0
			margin-bottom: 0
			padding: 20px
			color: $white
			font-size: 2rem
			@include media-breakpoint-up(sm)
				font-size: 2.4rem
				padding: 24px
			@include media-breakpoint-up(md)
				padding: 28px
				font-size: 3rem
				width: 80%
			line-height: 1.2
			z-index: 777
	