body
	background-color: var(--light)
	font-family: Rubik, 'Open sans', 'Noto sans', Arial, Helvetica, sans-serif
	color: var(--dark)
	margin: 0 0 150px
	padding: 0
	font-size: 18px
	min-height: 100vh

h1
	font-size: 3.6rem
	line-height: 1.1
	font-weight: 700 !important
	margin-bottom: 0.6rem
	color: var(--forest-green)

h3
	font-size: 1.8rem
	line-height: 1.4
	color: var(--forest-green)
	margin-bottom: 0.6rem

a
	font-weight: 500
	color: var(--dark)
	text-decoration: inherit
	&:hover,
	&:focus,
	&:active
		color: var(--dark)
		outline: none