@import 'bootstrap/scss/bootstrap-grid.scss';
@import '/src/assets/fonts/_font-rubik.sass';
@import './styles/_variables.sass';

:root {
	// font-family: 'Quicksand', system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--white: #fff;
	--light: #F5F4F0;
	--sunset-orange: #D8952A;
	--forest-green: #526245;
	--copper: #B3653E;
	--chestnut-red: #934521;
	--pine-green: #2B3B20;
	--dark: #14180C;
}


#root {
	margin: 0
}

img {
	max-width: 100%;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}

::-moz-selection {
	color: var(--white);
	background: var(--accent);
}

::-webkit-selection {
	color: var(--white);
	background: var(--accent);
}

::selection {
	color: var(--white);
	background: var(--accent);
}