@import 'bootstrap/scss/bootstrap-grid.scss'
@import '/src/styles/_color-palette.sass'
@import '/src/styles/_mixins.sass'

.homepage
	&_top
		@include flex-align(row, center)
		background-size: cover
		background-position: center center
		padding-top: 150px
		padding-bottom: 150px
		h1, h2, h3, h4, h5, h6, p, a
			color: $white
		&_logo
			max-width: 500px
		&_slogan
			font-size: 1.4rem
			text-align: center
			font-weight: 400
			letter-spacing: 1px
